.bg-photo,
.wrapper {
  background-color: $main-color;
}

// .wrapper {
//   // height: 100px;
// }

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 90%;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5px;

    &__item {
      display: flex;
      padding: 33px 5%;
      position: relative;
    }

    &__item:last-child {
      margin-right: 90%;
    }

    &__link {
      display: block;
      line-height: 150%;
      letter-spacing: 1px;
      text-decoration: none;
      color: $primary-color;
    }
    &__link--active {
      color: $secondary-color;
    }
    &__link:hover {
      text-decoration: underline;
    }
  }
  .menu__button {
    padding: 13px 3%;
    color: $primary-color;
    background-color: $main-color;
    border: 1px solid $primary-color;
    border-radius: 5px;

    &:hover {
      background-color: $secondary-color;
      color: $secondary-text-color;
      border: 1px solid $secondary-text-color;
    }
  }

  .bg-photo__title {
    color: $primary-color;
    @include font(600, 2.625rem, 160%);
    padding: 112px 0 99px;
    letter-spacing: 0.21px;
    width: 100%;
  }

  .bg-photo__text {
    color: $primary-color;
    @include font(400, 1rem, 150%);
    padding-bottom: 62px;
  }

  .bg-photo__btn {
    padding: 15px 3%;
    background-color: $secondary-color;
    color: $secondary-text-color;
    // width: 26%;
    @include font(700, 1rem, 150%);
    letter-spacing: 0.16px;
    border-radius: 5px;

    &:hover {
      background-color: #fff;
      color: $secondary-color;
    }
  }

  .bg-photo__link {
    color: $primary-color;
    text-decoration: none;
    @include font(400, 1rem, 150%);
    // padding-left: 5%;
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  .bg-photo__link span {
    position: relative;
    top: 3px;
  }
}

#toggle,
.toggle {
  display: none;
}

.toggle {
  z-index: 2;
}

.bg-photo__communication {
  display: flex;
  align-items: center;
  .bg-photo__link {
    padding-left: 15px;
  }
}

.bg-photo {
  padding-bottom: 137px;

  .wrap-img svg {
    width: 100%;
    padding-top: 92px;
  }
}

@media screen and (max-width: 480px) {
  .wrap-container {
    padding-top: 50px;
  }
}
@media screen and (max-width: 600px) {
  // .wrap-container {
  //   padding-top: 50px;
  // }
}
@media screen and (max-width: 840px) {
  .container {
    width: 95%;

    .bg-photo__title,
    .wrap-img {
      padding-top: 0;
    }

    .wrap-img svg {
      width: 100%;
    }

    // .bg-photo__btn {
    //   width: 66%;
    // }
  }
  .header {
    &__logo {
      display: none;
    }

    .menu {
      // width: 80vw;
      display: flex;
      justify-content: space-around;
      right: 0;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 1;
    }

    .menu__button {
      margin-top: -40px;
      margin-right: 10px;
    }

    &__item {
      flex-direction: column;
      width: 100%;
      margin: 0;
    }

    &__link {
      width: 100%;

      font-size: 4vw;
    }
    &__link--active {
      color: $primary-color;
    }

    &__link:hover,
    &__link:focus {
      background-color: #e2e2e2;
    }

    &__item:hover {
      width: 75vw;
    }
  }

  #toggle {
    opacity: 0;
  }

  #toggle:checked ~ .toggle > span {
    transform: rotate(45deg);
  }

  #toggle:checked ~ .toggle > span::before {
    top: 0;
    transform: rotate(0);
  }

  #toggle:checked ~ .toggle > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
    height: 50vh;
    width: 100vw;
    .menu__item:last-child {
      margin-right: 0;
    }
  }

  .toggle {
    display: flex;
    align-items: center;
    position: relative; //fixed
    top: 20px;
    left: 20px;

    width: 26px;
    height: 60px;

    cursor: pointer;
    // z-index: 1;
    // background-color: $mai;
  }

  .toggle > span,
  .toggle > span::before,
  .toggle > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #000;

    transition-duration: 0.25s;
  }

  .toggle > span::before {
    content: '';
    top: -8px;
  }
  .toggle > span::after {
    content: '';
    top: 8px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 100vw;
    height: 2vh;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: $main-color;
    // box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
  }

  .bg-photo {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 960px) {
  // .menu {
  //   position: relative;
  //   left: -250px;
  // }
}

@media screen and (max-width: 1024px) {
  // .menu {
  //   position: relative;
  //   // left: -250px;
  // }
}
@media screen and (max-width: 1280px) {
  // .menu-wrap {
  //   margin-right: 16%;
  // }

  // .container {
  //   .bg-photo__btn {
  //     width: 50%;
  //   }
  // }
}
