.school-overview__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15% 0;
  max-height: 600px;
  background: url(../imgs/workplace.jpeg) no-repeat fixed 100%;
}

.school-overview__title {
  font-size: 3.5rem;
  padding: 1% 0;
  color: $primary-color;
}

.school-overview__btn {
  padding: 15px 0;
  background-color: $secondary-color;
  color: $secondary-text-color;
  width: 10%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.school-overview__btn:hover {
  background-color: $primary-color;
  color: $secondary-color;
}

.school-overview__content {
  max-width: 900px;
  text-align: center;
  font-size: 1rem;
  padding: 40px 0;
  color: $additional-color;
  background-color: rgba(7, 7, 7, 0.6);
}

.school-content__container {
  height: auto;
}

.school-content__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.school-content__main-head {
  font-size: 3rem;
  text-align: center;
  padding: 5% 0;
}
.school-content__main-article {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background: $primary-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 3%;
}

.school-content__main-title {
  text-align: center;
  font-size: 2rem;
}

.school-content__main-article-text {
  text-align: center;
  font-size: 1.2rem;
}

.school-overview__btn-next {
  display: flex;
  padding: 15px 0;
  background-color: $secondary-color;
  color: $secondary-text-color;
  width: 10%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  border-radius: 5px;
  justify-content: center;
  text-decoration: none;
  margin: 5% auto;
}

.school-overview__btn-next:hover {
  background-color: $main-color;
  color: $primary-color;
}

.school-content__second,
.school-content__third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
  height: 300px;
  margin: 6% auto;
  background-color: $primary-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.school-content__second-title {
  font-size: 1.4rem;
  margin: 2% 0;
}

.school-content__second-content {
  display: flex;
  width: 35%;
  justify-content: center;
  flex-direction: column;
  margin: auto 3%;
}

.school-content__second-img {
  margin: auto 0 auto 45%;
  max-width: 128px;
  max-height: 128px;
}

.school-content__lightbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 65%;
  height: 300px;
  margin: 6% auto;
  background-color: $primary-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.school-content__lightbox-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
.school-content__lightbox-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}
.school-content__lightbox-gallery img {
  max-width: 250px;
  max-height: 250px;
  margin: 0 5%;
  cursor: pointer;
}

.school-content__lightbox-title {
  justify-content: center;
  margin: auto auto;
  font-size: 2rem;
}

// LIGHTBOX
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.lightbox-content {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 1% 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.lightbox-image {
  width: 60%;
  height: 60%;
  display: block;
  margin: 0 auto;
}
//

@media (max-width: 1280px) {
  .school-content__main-article {
    height: 150px;
  }
  .school-content__main-title {
    font-size: 1.2rem;
  }
  .school-content__main-article-text {
    font-size: 0.7rem;
  }
  .school-content__second {
    max-width: 80%;
  }
  .school-content__second-title {
    width: 100%;
    font-size: 1rem;
  }
  .school-content__second-img {
    margin: auto 0 auto 30%;
  }
  .school-content__lightbox-gallery img {
    width: 180px;
    height: 130px;
    margin: 0 1%;
    cursor: pointer;
  }
}

@media (max-width: 840px) {
  .school-overview__btn {
    width: 30%;
    font-size: 1rem;
  }
  .school-overview__btn-next {
    width: 30%;
    font-size: 1rem;
  }
  .school-content__main-article {
    width: 27%;
  }

  .school-content__main-article {
    height: 150px;
  }
  .school-content__main-title {
    font-size: 0.8rem;
  }
  .school-content__main-article-text {
    font-size: 0.7rem;
  }
  .school-content__second-title {
    width: 100%;
    font-size: 0.9rem;
    margin: 0 0 10% 0;
  }
  .school-content__second-text {
    font-size: 0.8rem;
  }
  .school-content__second-img {
    width: 96px;
    height: 96px;
    margin: auto 0 auto 20%;
  }
  .school-content__lightbox-title {
    font-size: 1.5rem;
  }
  .school-content__lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .school-content__lightbox-gallery img {
    width: 100px;
    height: 50px;
    margin: 8% auto;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .school-content__main-head {
    font-size: 0.9rem;
  }
  .school-overview__container {
    background: url(/imgs/workplace.jpeg) repeat fixed 50%;
  }
  .school-content__lightbox-title {
    text-align: center;
    font-size: 0.9rem;
  }
  .school-overview__btn-next {
    font-size: 0.7rem;
  }
  .school-content__second {
    display: flex;
    flex-direction: column;
  }
  .school-content__second-content {
    width: 100%;
    padding-right: 7%;
  }
  .school-content__second-title,
  .school-content__second-text {
    font-size: 0.65rem;
    text-align: center;
  }
  .school-content__second-img {
    margin: 0 auto;
    margin-bottom: 5%;
  }
}
