@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

.bg-photo,
.wrapper {
  background-color: #3c486b;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 90%;
}
.container .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5px;
}
.container .menu__item {
  display: flex;
  padding: 33px 5%;
  position: relative;
}
.container .menu__item:last-child {
  margin-right: 90%;
}
.container .menu__link {
  display: block;
  line-height: 150%;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}
.container .menu__link--active {
  color: #f45050;
}
.container .menu__link:hover {
  text-decoration: underline;
}
.container .menu__button {
  padding: 13px 3%;
  color: #fff;
  background-color: #3c486b;
  border: 1px solid #fff;
  border-radius: 5px;
}
.container .menu__button:hover {
  background-color: #f45050;
  color: #282938;
  border: 1px solid #282938;
}
.container .bg-photo__title {
  color: #fff;
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 160%;
  padding: 112px 0 99px;
  letter-spacing: 0.21px;
  width: 100%;
}
.container .bg-photo__text {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  padding-bottom: 62px;
}
.container .bg-photo__btn {
  padding: 15px 3%;
  background-color: #f45050;
  color: #282938;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.16px;
  border-radius: 5px;
}
.container .bg-photo__btn:hover {
  background-color: #fff;
  color: #f45050;
}
.container .bg-photo__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  position: relative;
}
.container .bg-photo__link:hover {
  text-decoration: underline;
}
.container .bg-photo__link span {
  position: relative;
  top: 3px;
}

#toggle,
.toggle {
  display: none;
}

.toggle {
  z-index: 2;
}

.bg-photo__communication {
  display: flex;
  align-items: center;
}
.bg-photo__communication .bg-photo__link {
  padding-left: 15px;
}

.bg-photo {
  padding-bottom: 137px;
}
.bg-photo .wrap-img svg {
  width: 100%;
  padding-top: 92px;
}

@media screen and (max-width: 480px) {
  .wrap-container {
    padding-top: 50px;
  }
}
@media screen and (max-width: 840px) {
  .container {
    width: 95%;
  }
  .container .bg-photo__title,
  .container .wrap-img {
    padding-top: 0;
  }
  .container .wrap-img svg {
    width: 100%;
  }
  .header__logo {
    display: none;
  }
  .header .menu {
    display: flex;
    justify-content: space-around;
    right: 0;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  .header .menu__button {
    margin-top: -40px;
    margin-right: 10px;
  }
  .header__item {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .header__link {
    width: 100%;
    font-size: 4vw;
  }
  .header__link--active {
    color: #fff;
  }
  .header__link:hover, .header__link:focus {
    background-color: #e2e2e2;
  }
  .header__item:hover {
    width: 75vw;
  }
  #toggle {
    opacity: 0;
  }
  #toggle:checked ~ .toggle > span {
    transform: rotate(45deg);
  }
  #toggle:checked ~ .toggle > span::before {
    top: 0;
    transform: rotate(0);
  }
  #toggle:checked ~ .toggle > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
    height: 50vh;
    width: 100vw;
  }
  #toggle:checked ~ .menu .menu__item:last-child {
    margin-right: 0;
  }
  .toggle {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 60px;
    cursor: pointer;
  }
  .toggle > span,
  .toggle > span::before,
  .toggle > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition-duration: 0.25s;
  }
  .toggle > span::before {
    content: "";
    top: -8px;
  }
  .toggle > span::after {
    content: "";
    top: 8px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 2vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #3c486b;
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .bg-photo {
    padding-bottom: 50px;
  }
}
.main {
  background-color: #f0f0f0;
}

.about-us {
  display: flex;
  padding-top: 54px;
  margin-bottom: 197px;
}
.about-us .about-us__container {
  display: flex;
}
.about-us .about-us__container .wrap-indicators {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.about-us .about-us__container .about-us__indicators {
  display: flex;
}
.about-us .about-us__container .about-us__indicators .about-us__item {
  display: flex;
  padding-right: 20%;
  justify-content: space-between;
  flex-direction: column;
}
.about-us .about-us__container .about-us__indicators .about-us__item .item__count {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0.16px;
  color: var(--Dark-blue, #282938);
}
.about-us .about-us__container .about-us__indicators .about-us__item .item__about {
  color: var(--Dark-blue, #282938);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}
.about-us .about-us__container .about-us__slider {
  background: #f0f0f0;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 50%;
}
.about-us .about-us__container .about-us__slider::before, .about-us .about-us__container .about-us__slider::after {
  background: linear-gradient(to right, #f0f0f0 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.about-us .about-us__container .about-us__slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.about-us .about-us__container .about-us__slider::before {
  left: 0;
  top: 0;
}
.about-us .about-us__container .about-us__slider .about-us__slide-track {
  animation: scroll 25s linear infinite;
  display: flex;
  width: 280%;
}
.about-us .about-us__container .about-us__slider .about-us__slide {
  height: 100px;
  width: 100%;
}
.about-us .about-us__container .about-us__slider .carousel-img {
  width: 60%;
}

@keyframes scroll {
  0% {
    transform: translateX(750px);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.content {
  display: flex;
}
.content .container {
  display: flex;
  flex-direction: column;
}
.content .block__container {
  display: flex;
  justify-content: center;
  padding-bottom: 106px;
  width: 100%;
}
.content .block__container .block {
  display: block;
  width: 100%;
  background-color: #fff;
  margin-bottom: 42px;
  margin-right: 8%;
  box-sizing: border-box;
}
.content .block__container .block .block__img {
  padding: 48px 78% 20px 12%;
}
.content .block__container .block .block__img .block__num {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  position: relative;
  left: 15px;
  top: -40px;
  z-index: 2;
  color: #fff;
  letter-spacing: 0.1px;
}
.content .block__container .block .block__heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--Dark-blue, #282938);
  padding: 0 11% 12px 12%;
}
.content .block__container .block .block__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  display: inline-block;
  color: var(--Dark-blue, #282938);
  padding: 0 12% 48px 12%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .block__container .block .block__heading--mod {
  padding: 0 11% 12px 12%;
}
.content .block__container .block .block__text--mod {
  padding: 0 11% 72px 12%;
}
.content .block__container .block .block__heading--spec {
  padding: 0 11% 12px 12%;
}
.content .block__container .block .block__text--spec {
  padding: 0 8% 72px 12%;
}
.content .block__container .block .block__heading--add {
  padding: 0 11% 12px 12%;
}
.content .block__container .block .block__text--add {
  padding: 0 8% 76px 12%;
}
.content .block__container .block .block__heading--chan {
  padding: 0 11% 36px 12%;
}
.content .block__container .block .block__text--chan {
  padding: 0 8% 48px 12%;
}
.content .block__container .block .block__heading--var {
  padding: 0 8% 12px 12%;
}
.content .block__container .block .block__text--var {
  padding: 0 11% 90px 12%;
}
.content .block__container .block--mod {
  margin-right: 0;
}

@media screen and (max-width: 840px) {
  .about-us {
    margin-bottom: 10px;
  }
  .about-us .about-us__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about-us .about-us__container .about-us__indicators {
    position: relative;
    left: -50px;
  }
  .about-us .about-us__container .about-us__slider {
    margin-top: 30px;
    width: 75%;
  }
  .about-us .about-us__container .about-us__slide-track {
    width: 560%;
  }
  .content .container {
    display: flex;
    flex-direction: column;
  }
  .content .block__container {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1280px) {
  .content .block__container {
    padding-bottom: 25px;
  }
}
.contacts__wrapper {
  background-color: #f0f0f0;
}

.contacts__container {
  padding: 6% 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
}
.contacts__container .box {
  padding: 6% 5%;
  background-color: #fff;
}
.contacts__container .box .box__menu,
.contacts__container .box .form__block button {
  border-radius: 15px;
}
.contacts__container .box .box__menu {
  padding: 4% 8%;
  background-color: #3c486b;
}
.contacts__container .box .box__menu .tabs__head {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__container .box .box__menu .tabs__caption {
  font-weight: 400;
  font-size: 1rem;
  line-height: 125%;
  cursor: pointer;
  transition: 0.3s;
  background-color: #3c486b;
}
.contacts__container .box .box__menu .tabs__caption:hover {
  color: #f45050;
  text-decoration: underline;
}
.contacts__container .box .box__menu .tabs__caption_active {
  opacity: 1;
}
.contacts__container .box .tabs {
  overflow: hidden;
}
.contacts__container .box .tabs__content {
  display: none;
}
.contacts__container .box .tabs__content_active {
  display: block;
}
.contacts__container .box .tabs__body {
  margin-top: 20%;
}
.contacts__container .box .tabs__body .box__form {
  font-size: 20px;
}
.contacts__container .box .tabs__body .box__form .form__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
}
.contacts__container .box .tabs__body .box__form .form__text span {
  text-decoration: underline;
}
.contacts__container .box .tabs__body .box__form .form__block {
  margin-top: 20%;
  color: #737b7d;
  border-top: 1px solid #737b7d;
}
.contacts__container .box .tabs__body .box__form .form__block input {
  padding: 12px 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #737b7d;
}
.contacts__container .box .tabs__body .box__form .form__block .button--mod,
.contacts__container .box .tabs__body .box__form .form__block .form__check form {
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
}
.contacts__container .box .tabs__body .box__form .form__block .button--mod {
  padding: 16px 0px;
  margin-top: 15%;
  width: 100%;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 160%;
  text-transform: uppercase;
  background-color: #f45050;
}
.contacts__container .box .tabs__body .box__form .form__block .form__check form {
  padding-top: 5%;
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.contacts__container .box .tabs__body .box__form .form__block .form__check form input {
  width: initial;
  margin-right: 2%;
}
.contacts__container .box .tabs__body .box__form .form__block .form__check form label {
  width: 100%;
}
.contacts__container .box .tabs__body .box__form .form__block .form__container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.contacts__container .box .tabs__body .socials {
  padding: 0 10% 12%;
  display: flex;
  flex-direction: row;
}
.contacts__container .box .tabs__body .socials .socials__item {
  padding-right: 9%;
  width: 30%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-items: first baseline;
}
.contacts__container .box .tabs__body .socials .socials__item--spec {
  padding-right: 10%;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: first baseline;
  -moz-column-count: 2;
  column-count: 2;
}
.contacts__container .box .tabs__body .socials .socials__item--spec .socials__item__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts__container .box .tabs__body .socials .socials__text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 5%;
  border-left: 3px solid #3c486b;
}
.contacts__container .box .tabs__body .socials .socials__text span {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 160%;
}
.contacts__container .item {
  padding: 10% 4%;
  background-color: #3c486b;
  display: flex;
  align-items: normal;
  justify-content: center;
}
.contacts__container .item iframe {
  width: 99%;
}

@media (min-width: 1024px) {
  .tabs__head {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .tabs__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .socials__item--spec {
    flex-direction: column;
  }
}
@media (min-width: 840px) {
  .box,
  .item {
    width: 50%;
  }
  .box {
    border-radius: 15px 0 0 15px;
  }
  .item {
    border-radius: 0 15px 15px 0;
  }
  .socials__item--spec {
    gap: 30px;
  }
}
@media (max-width: 840px) {
  .form__container img {
    width: 60%;
  }
  .contacts__container {
    flex-direction: column;
  }
  .socials__item--spec {
    flex-direction: row;
    gap: 10%;
  }
  .box,
  .item {
    width: 90%;
    margin: 0 auto;
  }
  .box {
    border-radius: 15px 15px 0 0;
  }
  .item {
    border-radius: 0 0 15px 15px;
  }
}
.school-overview__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15% 0;
  max-height: 600px;
  background: url(../imgs/workplace.png) repeat fixed 100%;
}

.school-overview__title {
  font-size: 3.5rem;
  padding: 1% 0;
  color: #fff;
}

.school-overview__btn {
  padding: 15px 0;
  background-color: #f45050;
  color: #282938;
  width: 10%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.school-overview__btn:hover {
  background-color: #fff;
  color: #f45050;
}

.school-overview__content {
  max-width: 900px;
  text-align: center;
  font-size: 1rem;
  padding: 40px 0;
  color: #f0f0f0;
  background-color: rgba(7, 7, 7, 0.6);
}

.school-content__container {
  height: auto;
}

.school-content__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.school-content__main-head {
  font-size: 3rem;
  text-align: center;
  padding: 5% 0;
}

.school-content__main-article {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 3%;
}

.school-content__main-title {
  text-align: center;
  font-size: 2rem;
}

.school-content__main-article-text {
  text-align: center;
  font-size: 1.2rem;
}

.school-overview__btn-next {
  display: flex;
  padding: 15px 0;
  background-color: #f45050;
  color: #282938;
  width: 10%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  border-radius: 5px;
  justify-content: center;
  text-decoration: none;
  margin: 5% auto;
}

.school-overview__btn-next:hover {
  background-color: #3c486b;
  color: #fff;
}

.school-content__second,
.school-content__third {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
  height: 300px;
  margin: 6% auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.school-content__second-title {
  font-size: 1.4rem;
  margin: 2% 0;
}

.school-content__second-content {
  display: flex;
  width: 35%;
  justify-content: center;
  flex-direction: column;
  margin: auto 3%;
}

.school-content__second-img {
  margin: auto 0 auto 45%;
  max-width: 128px;
  max-height: 128px;
}

.school-content__lightbox {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 6% auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.school-content__lightbox-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.school-content__lightbox-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.school-content__lightbox-gallery img {
  max-width: 250px;
  max-height: 250px;
  margin: 0 5%;
  cursor: pointer;
}

.school-content__lightbox-title {
  display: block;
  padding-top: 20px;
  margin: auto auto;
  font-size: 2rem;
}

.contain {
  padding: 10px;
}

.light-div {
  display: flex;
  justify-content: space-around;
}

.light-box {
  padding: 10px;
}

.light-img {
  width: 100%;
  margin-top: 25px;
  box-shadow: 0 0 7px 1px;
  transform: 2s;
}

div#popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

img#popimg {
  position: absolute;
  right: 25%;
  width: 50%;
}

span.arrow-left {
  position: absolute;
  top: 32%;
  right: 80%;
}

.fa,
.fas {
  font-weight: 900;
  color: #3c486b;
  font-size: 40px;
}

span.arrow-right {
  position: absolute;
  top: 32%;
  right: 20%;
}

span.close {
  position: absolute;
  top: 7%;
  right: 20%;
}

.far {
  font-weight: 900;
  color: #f45050;
  font-size: 60px;
}

@media (max-width: 1280px) {
  .school-content__main-article {
    height: 150px;
  }
  .school-content__main-title {
    font-size: 1.2rem;
  }
  .school-content__main-article-text {
    font-size: 0.7rem;
  }
  .school-content__second {
    max-width: 80%;
  }
  .school-content__second-title {
    width: 100%;
    font-size: 1rem;
  }
  .school-content__second-img {
    margin: auto 0 auto 30%;
  }
  .school-content__lightbox-gallery img {
    width: 180px;
    height: 130px;
    margin: 0 1%;
    cursor: pointer;
  }
}
@media (max-width: 840px) {
  .school-overview__btn {
    width: 30%;
    font-size: 1rem;
  }
  .school-overview__btn-next {
    width: 30%;
    font-size: 1rem;
  }
  .school-content__main-article {
    width: 27%;
  }
  .school-content__main-article {
    height: 150px;
  }
  .school-content__main-title {
    font-size: 0.8rem;
  }
  .school-content__main-article-text {
    font-size: 0.7rem;
  }
  .school-content__second-title {
    width: 100%;
    font-size: 0.9rem;
    margin: 0 0 10% 0;
  }
  .school-content__second-text {
    font-size: 0.8rem;
  }
  .school-content__second-img {
    width: 96px;
    height: 96px;
    margin: auto 0 auto 20%;
  }
  .school-content__lightbox-title {
    font-size: 1.5rem;
  }
  .school-content__lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .school-content__lightbox-gallery img {
    width: 100px;
    height: 50px;
    margin: 8% auto;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .school-content__main-head {
    font-size: 0.9rem;
  }
  .school-overview__container {
    background: url(/imgs/workplace.jpeg) repeat fixed 50%;
  }
  .school-content__lightbox-title {
    text-align: center;
    font-size: 0.9rem;
  }
  .school-overview__btn-next {
    font-size: 0.7rem;
  }
  .school-content__second {
    display: flex;
    flex-direction: column;
  }
  .school-content__second-content {
    width: 100%;
    padding-right: 7%;
  }
  .school-content__second-title,
  .school-content__second-text {
    font-size: 0.65rem;
    text-align: center;
  }
  .school-content__second-img {
    margin: 0 auto;
    margin-bottom: 5%;
  }
}
body {
  background-color: #f0f0f0;
}

.wrapper-cours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.wrapper-cours .wrapper__form {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 4.5%;
}

.wrapper__field-text {
  width: 52%;
  border: 1.5px solid rgba(40, 41, 56, 0.6);
  padding: 0.5% 1%;
  opacity: 0.7;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
}

.inner__list-menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.inner__link-menu {
  font-size: 1.1rem;
  opacity: 0.7;
  color: #282938;
}
.inner__link-menu:hover {
  color: #f45050;
}

.section-cours {
  display: flex;
  flex-direction: column;
  margin: 8% 5%;
}

.section-cours--spec,
.section-cours--edit {
  display: flex;
  justify-content: space-around;
  text-align: start;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  gap: 3%;
  margin-bottom: 4%;
}
.section-cours--spec .section-cours__box,
.section-cours--edit .section-cours__box {
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
}
.section-cours--spec .section-cours__box .section-cours__heading,
.section-cours--edit .section-cours__box .section-cours__heading {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.12px;
  line-height: 140%;
}
.section-cours--spec .section-cours__box .section-cours__heading a,
.section-cours--edit .section-cours__box .section-cours__heading a {
  color: #282938;
}
.section-cours--spec .section-cours__box .section-cours__heading a:hover,
.section-cours--edit .section-cours__box .section-cours__heading a:hover {
  color: #f45050;
}
.section-cours--spec .section-cours__box .section-cours__info-text,
.section-cours--edit .section-cours__box .section-cours__info-text {
  font-size: 1rem;
  line-height: 150%;
  opacity: 0.6;
}

.section-cours__bl {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 4%;
}
.section-cours__bl .cuors-like {
  color: #f45050;
  background-color: #fff;
  margin: 0 0 2% 4%;
}
.section-cours__bl .section-cours__number {
  margin: 0 auto;
  overflow: hidden;
  font-size: 1rem;
  line-height: 150%;
  opacity: 0.9;
}
.section-cours__bl .section-cours__info {
  margin-right: 2%;
}

.button-more {
  width: 13%;
  display: block;
  padding: 1%;
  border: 1.5px solid #f45050;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.button-more:hover {
  background-color: #f45050;
}

@media screen and (max-width: 600px) {
  .inner__list-menu,
  .section-cours--spec,
  .section-cours--edit {
    display: flex;
    flex-direction: column;
  }
  .section-cours__box {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 840px) {
  .inner__list-menu,
  .section-cours--spec,
  .section-cours--edit {
    display: flex;
    flex-direction: column;
  }
  .section-cours__box {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 960px) {
  .inner__list-menu,
  .section-cours--spec,
  .section-cours--edit {
    display: flex;
    flex-direction: column;
  }
  .section-cours__picture {
    width: 75%;
  }
  .section-cours__box {
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .inner__list-menu,
  .section-cours--spec,
  .section-cours--edit {
    display: flex;
    flex-direction: column;
  }
  .section-cours__picture {
    width: 90%;
  }
  .section-cours__box {
    margin-bottom: 5%;
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1280px) {
  .section-cours--spec,
  .section-cours--edit {
    display: flex;
    flex-direction: column;
  }
  .section-cours__box {
    width: 65%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .inner__list-menu,
  .section-cours--spec,
  .section-cours--edit {
    display: flex;
    flex-direction: column;
  }
  .section-cours__box {
    margin-bottom: 5%;
    width: 100%;
  }
  .button-more {
    width: 15%;
  }
  .section-cours__heading a {
    font-size: 1rem;
  }
}
.footer__wrapper {
  background-color: #3c486b;
  width: 100%;
}

.container {
  display: flex;
  width: 95%;
}
.container .footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .footer__contacts .contacts__block {
  display: flex;
  flex-direction: column;
  padding: 24px 0 0px;
}
.container .footer__contacts .contacts__block--spec {
  flex-direction: row;
}
.container .footer__contacts .contacts__block--spec .footer__social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container .footer__contacts .contacts__block--spec .footer__social .social__item {
  margin-right: 5%;
}
.container .footer__contacts .contacts__block--spec .footer__social .social__link img {
  width: 60%;
}
.container .footer__contacts .footer__slogan {
  padding-bottom: 205px;
  color: #fff;
}
.container .footer__contacts .contacts {
  display: flex;
  background-color: #f45050;
  border-radius: 5px 5px 0px 0px;
}
.container .footer__contacts .contacts__list {
  display: flex;
  flex-direction: column;
}
.container .footer__contacts .contacts__list .contacts__name {
  padding: 16px 160px 6px 30px;
  letter-spacing: 0.09px;
  color: var(--Dark-blue, #282938);
}
.container .footer__contacts .contacts__list .contacts__info {
  padding: 0 30px 15px 30px;
  color: var(--Dark-blue, #282938);
}
.container .footer__contacts .contacts__list .contacts__info a {
  color: var(--Dark-blue, #282938);
  text-decoration: none;
}
.container .footer__contacts .contacts__nav .nav__title {
  color: #fff;
  letter-spacing: 0.1px;
  padding: 64px 74px 19px 0;
}
.container .footer__contacts .contacts__nav .nav__title--mod {
  text-align: center;
  margin-left: 15%;
}
.container .footer__contacts .contacts__nav .nav__item {
  padding: 0 0 4px 0;
}
.container .footer__contacts .contacts__nav .nav__item .nav__link {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.09px;
}
.container .footer__contacts .contacts__nav .nav__item .nav__link:hover {
  text-decoration: underline;
}

.contacts__nav {
  display: flex;
}
.contacts__nav .contacts__menu {
  margin-left: 9%;
  display: flex;
  flex-direction: column;
}

.footer__rights {
  padding: 27px 0;
}

@media screen and (max-width: 600px) {
  .footer__contacts {
    justify-content: center;
  }
  .container .footer__contacts {
    justify-content: center;
  }
  .container .footer__contacts .contacts__block {
    align-items: center;
  }
  .container .footer__contacts .contacts {
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 840px) {
  .contacts__nav {
    display: none;
  }
  .container .footer__contacts {
    justify-content: center;
  }
  .container .footer__contacts .contacts__block {
    align-items: center;
  }
  .container .footer__contacts .contacts {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */